/**
 * Tip Component Style for tingle
 * @author minjie
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

.tTip
    background rgba(50, 54, 66, 0.9) 
    min-width 136px
    padding rem(40) 0
    border-radius rem(10)
    
.tTipIcon
    padding-bottom rem(40)
    .tIcon
        width rem(75)
        height rem(75)
        fill #fff
        
.tTipContent
    font-size rem(28)
    line-height 1.5
    
        

